body{
    font-family: 'Open Sans', sans-serif;
    background-color: floralwhite;
    text-align: center;
    color: rosybrown;
}
button {
    background-color: #D8B4A0;
    color: white;
    width: 100%;
    padding: 15px;
    border: none:
}
a {
    text-decoration: underline;
    color: navy;
    text-align: left;
}
table {
    background-color: white;
    color: rosybrown;
}